body {
	width: 100%;
	align-content: center;
}
div.content {
	margin: auto;
	text-indent: 10px;
	padding: 4px;
	width: 80%;
	text-align: center;
}
div.content p
{
	text-align: left;
	border-top: 2px dotted black;
	border-bottom: 2px dotted black;
	margin-top: 5px;
	margin-bottom: 5px;
}
.imgblock {
	margin: auto;
	text-align: center;
	padding: 2px;
}
.imgblock img {
	max-height: 100%;
    max-width: 100%;
}
.imgblock caption {
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}

/* взято из http://editlw.ru/articles.php?article_id=288 
  в кратце - создаем блок-цитату с фоном и заданными параметрами */
div.blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 0 auto;
	display: block;
	padding: 0.7em 10px;
	font-family: Georgia,serif;
	font-size: 14px;
	font-style: italic;
	text-indent: 0;
	text-align: left;
	width: 60%;
}
/* а также закрашиваем небольшую части площади до блока */
div.blockquote:before {
	color: #ccc;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
div.blockquote p {
	display: inline;
}
