body {
	background: white url('../imgs/bg_tex.jpg') repeat;
	width: 100%;
}
div.menu_box {
	margin: 0 auto;
	width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}
/* не активные ссылки */
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
