/*
  Сбрасываем параметры всех элементов (*) на нужные нам настройки по-умолчанию
*/
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
